rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Função para verificar se é o administrador
    function isAdmin() {
      return request.auth != null && request.auth.token.email == "agendanutrijulianamoreira@gmail.com";
    }

    // Função para verificar se o usuário é o próprio cliente
    function isOwner(clientId) {
      let client = get(/databases/$(database)/documents/clients/$(clientId)).data;
      return request.auth != null && request.auth.token.email.lower() == client.email.lower();
    }

    match /clients/{clientId} {
      // Admin pode tudo. Cliente pode ver e editar o seu próprio documento.
      allow read, write: if isAdmin() || isOwner(clientId);

      // Regras para subcoleções (mensagens, leads, faturas)
      match /{allSubcollections=**} {
        allow read, write: if isAdmin() || isOwner(clientId);
      }
    }
    match /alerts/{alertId} {
      allow read, write: if isAdmin();
    }
    
    // Bloquear o restante por padrão
    match /{document=**} {
      allow read, write: if false;
    }
  }
}